@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Oswald:wght@200&family=Poppins:wght@200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-seri;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1a1a1d;
}
.container {
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background-color: #fff;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}
.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background: #fff;
  color: #c3073f;
}
.card .face.face1 h2 {
  margin-top: 60px;
}
.card .face.face1 a {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 20px;
  text-decoration: none;
  color: #c3073f;
  border: 2px solid #c3073f;
  transition: 0.5s;
}
.card .face.face1 a:hover {
  color: #fff;
  background: #c3073f;
}
.card .face.face2 {
  background-color: #c3073f;
  transition: 0.5s;
}
.card:hover .face.face2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
}
.card:hover .face.face2 h2 {
  color: #c3073f;
  font-size: 2em;
}
